@model MVCExample.Models.ChristmasPresent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChristmasPresent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameOfKid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameOfKid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.present)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.present)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
